# Tuplas

In [8]:
pessoa_1 = ("João", 32, 1992)
pessoa_2 = ("Ricardo", 23, 2000)
# pessoa_3 = (2003, "Yago", 20) Não recomentado tuplas para armazenar dados consecutivos devem seguir um padrão

In [1]:
pessoa_1.append(1444)

NameError: name 'pessoa_1' is not defined

In [2]:
conta_1 = (15, 1000)
conta_1[1]

1000

In [3]:
conta_1[1] += 100

TypeError: 'tuple' object does not support item assignment

In [4]:
def depositar(conta):
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

depositar(conta_1)

(15, 1100)

In [5]:
conta_1

(15, 1000)

In [6]:
conta_1 = depositar(conta_1)
conta_1

(15, 1100)

In [9]:
users = [pessoa_1, pessoa_2]
users

[('João', 32, 1992), ('Ricardo', 23, 2000)]

In [10]:
users.append(("José", 18, 2005))
users

[('João', 32, 1992), ('Ricardo', 23, 2000), ('José', 18, 2005)]

In [11]:
users[0][0] = "Matheus"

TypeError: 'tuple' object does not support item assignment

In [12]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def __str__(self) -> str:
        return f"[>>codigo: {self.codigo} | saldo: {self.saldo}<<]"
    
    def depositar(self, saldo):
        self.saldo += saldo

In [13]:
conta_1 = ContaCorrente(13)
conta_1.depositar(500)
conta_2 = ContaCorrente(88)
conta_2.depositar(1000)

contas = (conta_1, conta_2)

In [14]:
for conta in contas:
    print(conta)

[>>codigo: 13 | saldo: 500<<]
[>>codigo: 88 | saldo: 1000<<]

In [15]:
contas.append(35435)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
contas[0].depositar(300)

In [18]:
for conta in contas:
    print(conta)

[>>codigo: 13 | saldo: 800<<]
[>>codigo: 88 | saldo: 1000<<]